#game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  #game div {
    background-color: white;
    border: 1px solid black;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    flex-basis: 17.5%;
  }
  
  #game div:hover {
    box-shadow: 10px 10px 7px rgba(33, 33, 33, .7);
    transform: scale(1.25);
  }
  
  body {
    background-color: lightgray;
  }

  h1 {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 4px 4px red, 
                 8px 8px blue,
                 12px 12px green,
                 16px 16px orange,
                 20px 20px purple;
  }
  
  .score {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px red, 
                 2px 2px blue,
                 3px 3px green,
                 4px 4px orange,
                 5px 5px purple;
  }
  
  #score-div {
    flex-direction: column;
  }
  
  button {
    display: flex;
    align-items: center;
    margin: 30px auto;
    border-color: #bebcbc #4e474e #4e474e #bebcbc;
    border-style: solid;
    border-width: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .25rem 3rem .25rem 3rem;
  }
  